@font-face {
  font-family: 'Wellfleet';
  font-style: normal;
  font-weight: 400;
  src: local('Wellfleet'), local('Wellfleet-Regular'), url(../fonts/nuF7D_LfQJb3VYgX6eyj5GyP.ttf) format('truetype');
}
